@font-face {
  font-family: "OpenSans-Regular";
  src: url(./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(./fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
