.navbar{
    text-decoration: none;
    color: white;
&:hover{
    color: rgb(53, 169, 247);
    border-bottom: 3px solid rgb(0, 153, 255);
}
}
.css-cjctlb-MuiButtonBase-root-MuiTab-root{
    opacity: inherit !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root, #signIn {
    color: white !important;
    text-decoration: none;
  }