
.Stack--Button{
    margin-left: 0;
    justify-content: space-between;
    
    
    #Buttons--tab{
        margin-left: 0;
       font-weight: 60;
       color: white;
       border-color: white;
       border-width: 1;
       padding-left: 2;
       border-radius: 0;
       
    }
}